<h2>All Historical Landmarks</h2>
    <%@landmark.each do |mark|%>
        <a href="/landmarks/<%=mark.id%>"> 
        <p><%=mark.name%> <%=mark.year_completed%></p> 
        </a>
    <% end %>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
<a class="button" href="/landmarks/new">Make New Landmark</a>
