<h2>Create New Landmark</h2>
    <form method="POST" action="/landmarks"> 
        Enter Name<input type="text" name="name"><break>
        Enter Completion Date<input type="text" name="year_completed">
    </form>
    <input type="submit" method="POST" value="Submit">

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
